@charset "ISO-8859-1";
.a input[type=submit] 
    {
    height: 40px;
        line-height: 43px;
        margin: 0px;
        padding: 0px 22px;
        display: flex;
        font-size: 0.8rem;
        text-transform: uppercase;
        font-weight: 500;
        color:rgb(255, 255, 255);;
        letter-spacing: 1px;
        background-color:#1e2149; ;
    color: white;
    background-color: #1e2149;
    border:0px;
    padding top: 10px;	
	font-family: poppins;
	}
	.a input[type=submit]:hover {
		opacity: 0.8;
        background-color: black;
        font-style:oblique;
        
} 